<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<ul th:replace="layout/common :: header"/>
<h2>Detail</h2>

<div class="container">
        <div class="row">
            <div class="col-25">
                <label>Name</label>
            </div>
            <div class="col-75" th:text="${board.name}">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Title</label>
            </div>
            <div class="col-75" th:text="${board.title}">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Content</label>
            </div>
            <div class="col-75" th:text="${board.content}">
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <a class="button" th:if="${principal.username == board.username}" th:href="@{/boards/write(id=${board.id})}">Modify</a>
            <a class="button" th:if="${principal.username == board.username}" th:href="@{/boards/delete(id=${board.id})}">Delete</a>
            <a class="button" href="/boards/list">List</a>
        </div>
</div>
</body>
</html>