<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<ul th:replace="layout/common :: header"/>
<div th:switch="${boards}">
    <h2 th:case="null">No boards yet!</h2>
    <div th:case="*">
        <h2>Boards</h2>
        <p style="float:right;"><a class="button" href="/boards/write">Write</a></p>
        <table id="boards">
            <thead>
            <tr>
                <th>No</th>
                <th>Title</th>
                <th>Name</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards.content}">
                <td th:text="${board.id}"></td>
                <td><a th:href="@{/boards/detail(id=${board.id})}" th:text="${board.title}"></a></td>
                <td th:text="${board.name}"></td>
                <td th:text="${board.createdDateTime}"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <div class="center">
            <div class="pagination" th:each="index : ${#numbers.sequence(startPage,endPage)}">
                <a th:href="@{/boards/list(page=${index-2})}" th:if="${index==startPage and startPage > pageGroupSize}">&laquo;</a>
                <a th:href="@{/boards/list(page=${index-1})}" th:classappend="${currentPage == index} ? active : ''" th:text="${index}"></a>
                <a th:href="@{/boards/list(page=${index})}" th:if="${index==endPage and endPage%pageGroupSize==0 and endPage < totalPages}">&raquo;</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>