<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<ul th:replace="layout/common :: header"/>
<h2>Write Form</h2>

<div class="container">
    <form action="#" th:action="@{/boards/write}" th:object="${board}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="row">
            <div class="col-25">
                <label for="name">Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="name" th:field="*{name}" placeholder="Your name.." th:required="true">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="title">Title</label>
            </div>
            <div class="col-75">
                <input type="text" id="title" th:field="*{title}" placeholder="title.." th:required="true">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="content">Content</label>
            </div>
            <div class="col-75">
                <textarea id="content" th:field="*{content}" placeholder="Write something.." style="height:200px" th:required="true"></textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
</body>
</html>